@model IEnumerable<SistemaTaller.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Usuarios1" asp-action="Index">
    <p class="row">
       <input placeholder="Nombre" class="form-control col-sm-4" type="text" name="id" />
        <input class="btn btn-success" type="submit" value="Filter" />
    </p>
</form>
<table class="table table-bordered table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @if (item.Status == 0)
                {
                    <p class="btn btn-danger">Inactivo</p>
                }
                else
                {
                    <p class="btn btn-success">Activo</p>

                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuarios"><button class="btn btn-warning"><i class="fas fa-edit"></i></button> </a>
                <a asp-action="Details" asp-route-id="@item.IdUsuarios"> <button class="btn btn-info"><i class="fas fa-eye"></i></button> </a>
               <a asp-action="Delete" asp-route-id="@item.IdUsuarios"> <button class="btn btn-danger" > <i class="fas fa-trash-alt"></i></button></a>
            </td>
        </tr>
}
    </tbody>
</table>
